.env
composer.lock
log
public/build
public/css
public/js
#public/uploads
#public/vendor
#public/download
public/video
resources/assets/vendor
storage/airwave-cookies
storage/framework/views
storage/framework/logs
#vendor
_ide_helper.php