.env
composer.lock
log
public/build
public/css
public/js
public/uploads
public/vendor
public/download
public/video
public/pcapp
public/get_info
resources/assets/vendor
storage/airwave-cookies
storage/framework/views
storage/framework/logs
vendor
node_modules
_ide_helper.php
nbproject