.env
composer.lock
log
public/build
public/css
public/js
public/uploads
public/download
public/vendor
public/video
resources/assets/vendor
storage/airwave-cookies
storage/framework/views
vendor
.phpstorm.meta.php
_ide_helper.php
.bash_history
/**/node_modules/
.idea
npm-debug.log
.vagrant
cache
