/* editable-empty */
.editable-empty, 
.editable-empty:hover, 
.editable-empty:focus,
a.editable-empty, 
a.editable-empty:hover, 
a.editable-empty:focus {
	font-style: normal;
    color: #999;
    text-decoration: none;
}
