.waiting-list {

    &__lines {
        overflow-x: hidden;
        overflow-y: scroll;
        @include position(absolute, 0 0 0 0);
    }

    &__unit {
        border-bottom: 1px solid $brDefault;
        @include clearfix;

        &.-active,
        &:hover {
            background-color: $bgInputContainer;
        }

        .popup__button.-hide {
            visibility: hidden;
        }

        &:hover .popup__button.-hide {
            visibility: visible;
        }

        &.active .popup__button.-hide {
            visibility: visible;
        }

        &.-chat-open .popup__button {
            visibility: visible;
        }
    }

    &__name-wrapper {
        padding: 10px 1px 9px 10px;
        @include clearfix;
    }

    &__name {
        min-height: 30px;

        .name-block__called {
            width: 25px;
            padding-right: 7px;
            background-color: transparent;

            &:after {
                content: '';
                background-color: $bgDanger;
            }
        }

        .name-block__title {
            padding-right: 7px;
            max-width: 78px;
            word-break: break-word;
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__title {
        font-size: 10px;
    }


    .button {
        margin: 0 auto 10px;
        @include clearfix;

        &.-notification {
            width: 22px;
            height: 29px;
            padding: 0;
            display: block;
            z-index: 49;
            @include position(fixed, null 30px null null);

            &:after,
            &:before {
                content: '';
                width: 0;
                height: 0;
                border-top: 0 solid transparent;
                z-index: 9;
            }

            &:after {
                border-bottom: 8px solid $brButtonActive;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
                @include position(absolute, -8px null null 5px);
            }

            &:before {
                border-bottom: 6px solid $bgButtonActive1;
                border-right: 3px solid transparent;
                border-left: 3px solid transparent;
                z-index: 10;
                @include position(absolute, -6px null null 7px);
            }

            &:hover {
                &:before {
                    border-bottom-color: $bgButtonActiveHover1;
                }
            }

            .-icon {
                width: 16px;
                height: 16px;
                top: 5px;
                left: 2px;
                background-size: 100%;
            }

            &.-top {
                top: 145px;
            }

            &.-bottom {
                bottom: 6px;

                &:after,
                &:before {
                    border-bottom: 0 solid transparent;
                }

                &:after {
                    border-top: 8px solid $brButtonActive;
                    border-right: 4px solid transparent;
                    border-left: 4px solid transparent;
                    @include position(absolute, auto null -8px 5px);
                }

                &:before {
                    border-top: 6px solid $bgButtonActive2;
                    border-right: 3px solid transparent;
                    border-left: 3px solid transparent;
                    @include position(absolute, auto null -6px 7px);
                    z-index: 10;
                }

                &:hover {
                    &:before {
                        border-top-color: $bgButtonActiveHover2;
                    }
                }
            }

            &.-active {
                display: block;
            }
        }
    }


    .chat {
        padding-bottom: $hChatInput;
        @include position(relative, auto auto auto auto);

        &__name {
            padding-right: 0;
        }

        &__wrapper {
            padding-top: 0;
            padding-bottom: 0;
            max-height: 300px;
            @include position(relative, auto auto auto auto);
        }

        &__conversation,
        &__conversation.-active,
        &__board {
            display: block;
        }

        &__board {

            .chat__item:first-child {
                margin-top: 10px;
            }

            .chat__item:last-child {
                margin-bottom: 10px;
            }
        }
    }


    .select2-results {
        max-height: 260px;
    }
}
